<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
    <%= javascript src="https://code.jquery.com/jquery-3.2.1.min.js" %>
    <%= javascript src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js" %>
    <%= javascript src="http://cdn.peerjs.com/0.3/peer.min.js" %>
    <%= javascript src="script.js" %>
  </body>
</html>
